package ui

templ Navigation() {
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl font-black text-primary" href="/sms">Listrak API Sandbox</a>
        </div>
    </div>
}
